# Default ignored files
/../../../../../../QKRWL_~1/AppData/Local/Temp/login_voyage.html8431528255381916960/.idea/shelf/
/../../../../../../QKRWL_~1/AppData/Local/Temp/login_voyage.html8431528255381916960/.idea/workspace.xml
